/* ----title inside navbar--- */
#title {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

/* ----nav bar---- */
#navbar {
    color: black;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    overflow: auto;
    background-color: rgb(2, 0, 0);
    position: fixed;
    background: url();
}

  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    list-style-type: none;
  }
  
  /* ----Change the link color on hover---- */
  li a:hover {
    color: #00ffb3;
  }

  /* ----list-style-type inside navbar----  */
  

  /* ----main info part of page---- */
.main-section {
    margin-left: 25%;
    padding: 1px 16px;
    height: auto;
    color: white;
}

pre code {
    
    display: block;
    
  }

/* ----background---- */
  body {
      background:url() right top no-repeat,
      url() right bottom no-repeat;
      background-repeat: no-repeat;
      background-position-x: right;
      background-color: black;
  }

  /* CSS example */
  #example-1 {
      background-color: white;
      text-align: center;
      color: black;
      height: 320px;
      width: auto;
  }

  /* source information */
  #source {
      color: white;
  }

  /* ----Media Query---- */

  @media only screen and (max-width: 800px) {
    body {
      background-color: rgb(0, 191, 255);
    }
  }